* {
    margin: 0px;
    padding: 0px;
}

body   {
    height: 100%;
    width: 100%;
    background: #456496;
    color: #e80404;
    text-align: center;
    font-size: 16px;
}


header {
    height: 50%;
    width: 50%;
    margin: auto;
    color: #e80404;
    background: ;

}

input {
    background: #e5e5e5;
    font-size: 16px;
}

h3 {
    text-align: left;
    font-size: 14px;
}

h2 {
    text-align: left;
    font-size: 20px;
    text-decoration: underline;
}

h1 {
    font-size: 45px;
    text-shadow:
    -2px -2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff;
}

form#moneyInput {
    width: 100%;
    font-size: 18px;
    padding-top: 5%;
}

div#wrapper {
    background: #ffefba;
    border: .2rem solid black;
    width: 75%;
    height: 80%;
    margin: auto;
    background: ;
}

div#inputBox {
    width: 85%;
    height: 10%;
    margin: auto;
    padding-left: 1%;
    padding-top: 3%;
    padding-bottom: 3%;
    border: 1.5px groove black;
    text-align: left;
    color: #2668bf;
}

div#instructions {
    margin: auto;
    padding-left: 2%;
    padding-top: 7%;
    padding-bottom: 2%;
    border-top: 6px double white;
    border-bottom: 6px double white;
}

div#header {
    width: 100%;
    background: ;
    padding-bottom: 8%;
    padding-top: 8%;
}

div#totalReset {
    padding-top: 0%;
    padding-bottom: 5%;
}

div#textReset {
    padding-bottom: 5%;
    padding-top: 5%;
    text-decoration: underline;

}

div#lastStep {
    width: 100%;
    padding-bottom: 1%;
    padding-top: 1%;
}

div#textFinal {
    padding-top: 20%;
    padding-bottom: 3%;
    text-decoration: underline;

}

div#boxBorder {
    border: 3px groove #e80404;
    height: 50%;
    width: 50%;
    margin: auto;
    font-size: 30px;
}

span#dollarSign1 {
    margin-right: -4px;

}

span#dollarSign2 {
    margin-right: -8px;
}

input#resetButton {
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
}

span.num {
    padding-left: 2%;
}
